<div class="section text-center section-features">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Features</h2>
            <h5 class="description">Over 69% of the businesses around the world runs on Internet. Agrata Sites is a home to everyone from small businesses to companies.</h5>
          </div>
        </div>
		<br>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="fa fa-window-maximize" aria-hidden="true"></i>
                </div>
                <h4 class="info-title">Blog, website, or both</h4>
                <p>A blog, a full website, or a combo. Personal blog, portfolio, business site — it’s up to you.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="fa fa-server" aria-hidden="true"></i>
                </div>
                <h4 class="info-title">Web Hosting</h4>
                <p>Trust your site to the world’s #1 web host. Industry leading performance & guaranteed 99.9% uptime.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="fa fa-building" aria-hidden="true"></i>
                </div>
                <h4 class="info-title">Custom domains</h4>
                <p> Get a custom domain to carve out your own space on the Internet.</p>
              </div>
            </div>
          </div>
        </div>
</div>
