  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="http://agrata.net" target="_blank">
              Agrata
            </a>
          </li>
		  <li>
            <a href="#" data-toggle="modal" data-target="#about">
              About
            </a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#terms">
              Terms
            </a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#privacy">
              Privacy
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Agrata Sites
      </div>
    </div>
  </footer>
