  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/1250260/pexels-photo-1250260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <br>
			<h2 class="title">Built for entrepreneurs</h2>
            <h4>Pick a beautiful theme - add your content - launch!</h4>
			<br>
			<a class="btn btn-danger btn-raised btn-lg" href="javascript:void(0)" onclick="scrollToFeatures()">
            Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
