<div class="section text-center section-pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ml-auto mr-auto">
				<h2 class="title">Pricing</h2>
				<h5 class="description">Choose a plan that works for you. Customize as much or as little as you want. Tell your story.</h5>
			</div> 
			<br>
			<div class="col-md-4 col-md-offset-1">
				<div class="card card-login">
					<div class="card-header card-header-primary text-center">
						<h4 class="card-title">HTML Website</h4>
						<div class="social-line">
							<h5> <i class="fa fa-inr" aria-hidden="true"></i>  10,000 </h5>
							Annualy subscription
						</div>
					</div>
				<br>
				<div class="card-body text-center">
					<p class="description"> Best for <b>Starters and Small Business</b> </p>
					<p class="description"> Up to <b>5 Pages</b> </p>
					<p class="description"> Dozens of <b>Free</b> Themes </p>
					<p class="description"> <b>1GB</b> Storage Space </p>
					<p class="description"> <b>100GB</b> Monthly Bandwidth </p>
					<p class="description"> <b>1 Update</b> per Month </p>
					<a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="scrollToContact()">Request a Call</a>
         			</div>		
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="pst-text-wrap">
					<div class="pst-text">
						<h2>Simple Pricing</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



