<div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-1 clearfix">
              <div class="pst-table">
                <h4>proffessional</h4><span class="pst-number">$12</span><span>/mo</span>
                <ul class="pst-features">
                  <li> <em>full </em>access</li>
                  <li>source files</li>
                  <li> <em>1000 </em>user accounts</li>
                  <li> <em>2 years</em>license</li>
                </ul>
                <button class="btn btn-mountain-flat btn-round">sign up</button>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
              <div class="pst-text-wrap">
                <div class="pst-text">
                  <h2>Simple Pricing</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.</p>
                  <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <footer>adam butler</footer>
                  </blockquote><a href="#" class="btn btn-mountain-link">Learn more<span class="btn-icon"><i class="ion-ios-arrow-thin-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
</div>
