<div class="section text-center section-pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ml-auto mr-auto">
				<h2 class="title">Pricing</h2>
				<h5 class="description">Simple pricing plan that works for every budget.</h5>
				<br>
				<br>
			</div> 
			<br>
			<div class="col"></div>
			<div class="col-sm-4">
				<div class="card card-login">
					<div class="card-header card-header-danger text-center">
						<h4 class="card-title">Basic</h4>
						<h2 class="title"> <i class="fa fa-inr" aria-hidden="true"></i>  9,999 </h2>
						<p>per year</p>
					</div>
					<br>
					<div class="card-body text-center">
						<p class="description"> Free <b>Domain</b> </p>
						<p class="description"> Free <b>Hosting</b> </p>
						<p class="description"> Up to <b>10 Pages</b> </p>
						<p class="description"> Unlimited <b>Free</b> Themes </p>
						<p class="description"> <b>1GB</b> Storage Space </p>
						<a class="btn btn-danger btn-raised" href="javascript:void(0)" onclick="scrollToContact()">Order Now</a>
         			</div>
				<br>
				</div>
			</div>
			<div class="col-sm-6 text-left">
				<h4>Discover what your website or blog can do with a powerful plan.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>
