<div class="section section-works text-center">
	<div id="works">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<h2 class="title">How it works</h2>
					<h5 class="description"> Getting your business online has never been this easy. Follow these 4 simple steps and your website will be live in a week. </h5>
				</div> 
			</div>
			<br>
			<div class="col-md-8 ml-auto mr-auto">
				<ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
					<li class="nav-item">
						<a class="nav-link active show" href="#vision" role="tab" data-toggle="tab" aria-selected="true">
						<i class="material-icons">call</i> Vision
                  				</a>
                			</li>
                			<li class="nav-item">
                  				<a class="nav-link" href="#build" role="tab" data-toggle="tab" aria-selected="false">
                    				<i class="material-icons">settings</i> Build
                  				</a>
                			</li>
                			<li class="nav-item">
                  				<a class="nav-link" href="#launch" role="tab" data-toggle="tab" aria-selected="false">
                    				<i class="material-icons">stars</i> Launch
                  				</a>
                			</li>
                			<li class="nav-item">
                  				<a class="nav-link" href="#update" role="tab" data-toggle="tab" aria-selected="false">
                    				<i class="material-icons">update</i> Update
                  				</a>
                			</li>
				</ul>
				<div class="tab-content tab-space">
					<div class="tab-pane active show" id="vision">
						<h3> You share your vision. </h3>
						Tell us about your business and what you want from your website in a phone consultation. From there, choose your layout from our huge library of professional, industry-relevant themes, share your content and we go to work.
					</div>
					<div class="tab-pane" id="build">
						<h3> We build your site. </h3>
						We start coding, adding your text, images and logos to the design you selected.
					</div>
					<div class="tab-pane" id="launch">
						<h3> You approve and we launch. </h3>
						Once the site is ready we will demo it for you. Once approved, we run it through our various quality checks to ensure it’s flawless. Finally, we take it LIVE on the domain of your choice.
					</div>
					<div class="tab-pane" id="update">
						<h3> We keep it up to date. </h3>
						We not only create your site, we maintain it for a full year. Need to add an image or update some text? Just give us your changes and we’ll make them free of charge*.
                   			</div>
				</div>
			</div>
		</div>
	</div>
</div>
