<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="index-page sidebar-collapse">

<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://sites.agrata.net">
          <b>Agrata Sites</b> </a>
		
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToFeatures()">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="themes">Themes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToWorks()">How It Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToContact()">Contact</a>
          </li>
            </div>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="main main-raised">
  <div class="container">
  
  {{ content }}
	  
  {% include features.html %}
	<hr>
  {% include works.html %}	
	<hr>
  {% include contact.html %}
  
  {% include terms.html %}
  
  {% include privacy.html %}
  
  </div>
  </div>
    
  {% include about.html %}
  
  {% include footer.html %}
  
  {% include scripts.html %}
</body>
</html>
